// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Figtree', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #5a7123;
$secondary: #A98B2F;
$info: #A98B2F;
$light: #f2f5e7;
$dark: #624B25;
$danger: #ff352e;
$warning: #ffc107;
$success: #394913;

